<h1>Editing book_loan</h1>

<%= render "form", book_loan: @book_loan %>

<br>

<div>
    <%= link_to "Show this book_loan", @book_loan , class: "btn btn-primary"%>
    <%= link_to "Back to book_loans", book_loans_path, class: "btn btn-primary" %>
</div>