<h1>Editing book_request</h1>

<%= render "form", book_request: @book_request %>

<br>

<div>
    <%= link_to "Show this book_request", @book_request , class: "btn btn-primary"%>
    <%= link_to "Back to book_requests", book_requests_path, class: "btn btn-primary" %>
</div>